:root {
    --bg-light: #f9fffb;
    --text-dark: #2c3e50;
    --font-main: 'Segoe UI', sans-serif;

    --h1-bg: #C1ECAF;
    --h1-text: #1e2d2b;
    --h2-text: #000000;
    --h2-border: var(--h1-bg);
    --h3-text: #D67160;

    --list-bg: #e8f8f0;
    --list-border: #A1D69A;
    --strong-text: var(--h3-text);
    --code-bg: #f0f0f0;

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);
}



/* Kleine reset + basis */
* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
body {
  color: var(--text-dark);
  background: var(--bg-light);
  min-height: 100svh;
  font-family: var(--font-main);
  background-color: rgb(159, 225, 255);
}
body{
  display: grid;
  grid-template-areas:
  "header nav"
  "main main"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr 60px;
}
header{
  grid-area: header;
  font-family: "Roboto", sans-serif;
}
nav{
  grid-area: nav;
  margin: 10px;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}
article{
  flex: 0 0 25%;
  margin: 25px;
  padding: 1px;
  border: #256694;

}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* NAV – zoals geleerd in week 3 */
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav a {
  text-decoration: none;
  color: var(--h1-text);
}
nav a:hover {
  border-bottom: 2px solid var(--h3-text);
}


/* Andere stijling */
footer {
    background-color: var(--footer-bg);
}
h2 {
    color: var(--h2-text);
    font-size: 1.3rem;
    border-bottom: 2px solid var(--h2-border);
    padding-bottom: 5px;
    margin: 10px 50px 20px 50px;
    font-family: "Roboto", sans-serif;
}
h1 {
    color: var(--h1-text);
    border-radius: 12px;
    font-size: 2.2rem; 
    margin-left: 20px;
    border-bottom: #000000;
}
